################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Debug/Taschenrechner.tlog
/Debug
/GeneratedFiles
/Win32/Debug
*.user
*.sdf
MSVC2013/GeneratedFiles/Debug/moc_ProtokollPrinter.cpp
*.obj
MSVC2013/Debug/Taschenrechner.log
*.tlog
MSVC2013/GeneratedFiles/Debug/moc_cmainwindow.cpp
MSVC2013/GeneratedFiles/Debug/moc_Grundrechenarten.cpp
MSVC2013/GeneratedFiles/Debug/moc_Protokoll.cpp
MSVC2013/GeneratedFiles/Debug/moc_ProtokollItem.cpp
MSVC2013/GeneratedFiles/qrc_cmainwindow.cpp
MSVC2013/GeneratedFiles/ui_cmainwindow.h
*.pdb
MSVC2013/Taschenrechner.opensdf
*.ilk
MSVC2013/Win32/Debug/Taschenrechner.exe
